<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.widget"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".widget"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name = "Datos">
        	<action android:name ="android.intent.action.MAIN"/>
        	<category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity android:name = "muestra">
        	<action android:name = "android.intent.action.MAIN"/>
        	<category android:name = "android.intent.category.LAUNCHER"/>
        </activity>
		<provider android:name = "com.widget.providers.Content" android:authorities="com.widget.providers.content"/>
    </application>
</manifest>